{% extends "default.html" %}
{% block title %}About this app{% endblock %}

{% block content %}
<div class="grid-container">
    {% for id, playlist in playlists.items() %}
    {% if playlist['public'] == true %}
        <a href="{{ url_for('playlist', playlist_id=id) }}">
            <div class="playlist">
                {% if playlist['image'] %}
                <img src="{{ playlist['image'] }}" alt="{{ playlist['name'] }} Cover">
                {% else %}
                <img src="{{ url_for('static', filename='default_playlist_image.jpg') }}" alt="Default playlist cover">
                {% endif %}
                <h2>{{ playlist['name'] }}</h2>
                <p id="tracks-number">{{ playlist['tracks_total'] }} tracks</p>
            </div>
        </a>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}